<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= folder.name %></h1>
    <%- include('partials/errors') %>

    <ul>
      <li>Created: <%= folder.createdAt.toLocaleString() %></a></li>
      <li><a href="/folders/<%= folder.id%>/upload">Upload a file</a></li>
      <li><a href="/folders/<%= folder.id%>/update">Update this folder</a></li>
      <li><a href="/folders/<%= folder.id%>/delete">Delete this folder</a></li>
      <% if(files.length !== 0) { %>
      <ul>Files:
        <% files.map((data) => { %>
          <!-- <li><%= data.id %></li> -->
          <li><%= data.filename %></li>
          <li><%=data.destination %></li>
          <li><%=data.size%> kb </li>
          <li><%=data.createdAt.toLocaleString() %></li>
          <li><a href="/folders/<%=folder.id%>/file/<%= data.id%>/update">Update File</a></li>
          <li><a href="/folders/<%=folder.id%>/file/<%= data.id%>/download">Download File</a></li>
          <li><a href="/folders/<%=folder.id%>/file/<%= data.id%>/delete">Remove</a></li>
       <%}) %>
      </ul>
     <% } %>
      
    </ul>
      <a href="/folders">Back</a>


    
  </body>
</html>
